@import 'tailwindcss';

@theme static {
  --color-bg-default: light-dark(var(--color-zinc-100), var(--color-zinc-950));
  --color-bg-subtle: light-dark(var(--color-zinc-50), var(--color-zinc-900));

  --color-border: light-dark(var(--color-zinc-200), var(--color-zinc-800));

  --color-text-default: light-dark(var(--color-zinc-950), var(--color-zinc-50));
  --color-text-subtle: light-dark(var(--color-zinc-600), var(--color-zinc-400));
}

@layer base {
  * {
    border-color: var(--color-border);
  }
}
