---
import '../styles/tailwind.css';
import Glyph from '../assets/glyph.svg';
import RssFeed from '../components/RssFeed.astro';
import HeadMeta from '../components/HeadMeta.astro';
---

<html
  lang="en"
  class="bg-bg-default text-text-subtle scheme-light-dark"
>
  <head>
    <HeadMeta
      metadata={{
        title: 'Index',
        description: 'We wrote about current software and standards.',
      }}
    />
  </head>
  <body class="px-6 py-18">
    <div class="mx-auto max-w-xl">
      <header
        class="from- from-bg-subtle mb-18 grid rounded-xl bg-linear-to-b to-transparent px-6 pt-6 pb-18 text-center"
      >
        <div class="bg-bg-default mx-auto mb-6 flex items-center gap-1 rounded-full border px-3">
          <Glyph
            width={16}
            height={16}
            aria-hidden="true"
          />
          <h1 class="text-text-default text-sm leading-8 font-medium">Archive of Aggregata</h1>
        </div>

        <h2 class="text-text-default mb-3 text-2xl font-medium">
          We wrote about<br />current software and standards
        </h2>
        <p class="mb-6">
          Aggregata was a platform for the web, applications, and machine learning, which discussed current trends and
          topics.
        </p>
        <span class="text-xs font-medium">Aug 2022 — Dec 2025</span>
      </header>
      <main class="space-y-12">
        <section class="">
          <RssFeed url="https://jairusjoer.com/rss.xml" />
        </section>
      </main>
      <footer class="mt-18">
        <nav>
          <ul class="flex flex-wrap justify-center gap-x-4">
            <li>
              <a
                href="https://www.iubenda.com/privacy-policy/83800176"
                target="_blank"
              >
                Imprint & Privacy
              </a>
            </li>
            <li>
              <a
                href="https://www.iubenda.com/privacy-policy/83800176/cookie-policy"
                target="_blank"
              >
                Cookies
              </a>
            </li>
          </ul>
        </nav>
      </footer>
    </div>
  </body>
</html>
